p.flashy {
    font-style: italic;
    color: red;
}

p.contact {
  color: darkred;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  text-align: center;
  
}

.best {
  width: 150%;
  font-weight: bolder;
  font-family: "Arial Bold";
  color: rgb(228, 26, 120)
}
p.contact {
width: 100%;
font-style: italic;
color: rgb(218, 97, 97);
}
